<!DOCTYPE html>
<html>
<head>
</head>
<body>
    {{>header}}
    <h1>{{title}}</h1>
    <form>
        <input placeholder="Location">
        <button>search</button>
    </form>
    {{>footer}}
    <script src="/js/app.js"></script>

</body>
</html>